.pagination {
    display: flex;
    justify-content: center;
    margin: 0;
}

.pagination button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: var(--tertiary-color);
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: var(--button-hover-bg-color);
}

.issues {
    margin: 20px auto;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.issues * {
    display: inline-block;
}

.issueSelectorHeader {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.issueSelector {
    list-style: none;
    padding: 0;
}

.issueSelector li {
    margin: 10px 0;
    padding: 10px;
    display: inline;
}

.issueSelector .issueID {
    margin: 5px 0;
}

.issueSelector .issueID a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s;
}

.issueSelector .issueID a:hover {
    color: var(--secondary-color);
}

.catalog-blurb {
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
}

.catalog-loading {
    font-size: 1.2em;
    color: var(--tertiary-color);
}

.catalog-pdfviewer {
    margin: 20px 0;
}

.catalog-contributors {
    text-align: center;
    list-style: none;
    padding-bottom: 100px;
    margin: 20px 0;
}

.catalog-contributors li {
    margin: 5px 0;
}

.catalog-contributors li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s;
}

.catalog-contributors li a:hover {
    color: var(--secondary-color);
}