.contributors-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contributors-container {
    position: relative;
    padding: 20px; 
    color: var(--background-color);
    font-family: var(--handwritten-font);
    font-size: 30px;
}

.contributors {
    text-align: center;
    list-style: none;
    padding-bottom: 100px;
    margin: 20px 0;
}

.contributors li {
    margin: 5px 0;
}

.contributors li a {
    text-decoration: none;
    color: var(--background-color);
    transition: color 0.3s;
}

.contributors li a:hover {
    color: var(--primary-color);
}

/* Media Queries */
@media (max-width: 768px) {
    .contributors-container {
        padding: 15px;
        font-size: 25px;
    }

    .contributors {
        padding-bottom: 80px;
        margin: 15px 0;
    }
}

@media (max-width: 480px) {
    .contributors-container {
        padding: 10px;
        font-size: 20px;
    }

    .contributors {
        padding-bottom: 60px;
        margin: 10px 0;
    }
}