.contributors-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contributors {
    text-align: center;
    list-style: none;
    padding-bottom: 100px;
    margin: 20px 0;
}

.contributors li {
    margin: 5px 0;
}

.contributors li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s;
}

.contributors li a:hover {
    color: var(--secondary-color);
}