/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header Styles */
.header {
    background-color: var(--tertiary-color);
    padding: 20px;
    color: var(--text-color);
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* Main Content Styles */
.main-content {
    background-color: var(--background-color);
    padding: 20px;
    color: var(--text-color);
}

/* Footer Styles */
.footer {
    background-color: var(--tertiary-color);
    padding: 20px;
    color: var(--text-color);
    text-align: center;
}

.footer p {
    margin: 0;
}
