.pdfviewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    color: #eeeeee;
    padding: 20px;
    padding-bottom: 60px; /* Add padding to the bottom to avoid overlap */
    margin-left: 20px; /* Add margin to the left to avoid overlap */
}

.pageCount {
    color: #00adb5;
    font-size: 16px;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; /* Ensure the button container is above other content */
}

.previousBtn,
.nextBtn {
    background-color: #393e46;
    color: #eeeeee;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.previousBtn:disabled,
.nextBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.spinner {
    border: 4px solid #00adb5;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Center the spinner horizontally */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pageSpread {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .pdfviewer {
        padding: 10px;
        padding-bottom: 60px; /* Add padding to the bottom to avoid overlap */
        margin-left: 220px;
    }

    .pageCount {
        font-size: 14px;
    }

    .buttonContainer {
        flex-direction: column;
        position: static;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .previousBtn,
    .nextBtn {
        width: 100%;
        margin: 5px 0;
    }

    .spinner {
        width: 25px;
        height: 25px;
    }

    .pageSpread {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .pdfviewer {
        padding: 5px;
        padding-bottom: 60px; /* Add padding to the bottom to avoid overlap */
    }

    .pageCount {
        font-size: 12px;
    }

    .previousBtn,
    .nextBtn {
        padding: 8px 16px;
    }

    .spinner {
        width: 20px;
        height: 20px;
    }
}