.footer { 
    position: fixed; 
    bottom: 0;
    width: fit-content; 
    background-color: var(--tertiary-color); 
    text-align: center; 
    font-size: 14px; 
    color: var(--text-color);
    padding: 20px;
    z-index: 10;
}

.footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer {
        display: none;
    }
}