.pagination {
    display: flex;
    justify-content: center;
    margin: 0;
}

.pagination button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: var(--tertiary-color);
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: var(--button-hover-bg-color);
}

.paginatedList {
    margin: 20px auto;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.paginatedList * {
    display: inline;
}

/* Default styles for larger screens */
.itemSelector {
    list-style: none;
    padding: 0;
}

.itemSelector li {
    margin: 10px 0;
    padding: 10px;
    display: inline;
}

.itemSelector .itemID {
    margin: 5px 0;
    color: var(--text-color);
    cursor: pointer;
}

.itemSelector .itemID.active {
    font-weight: bold;
    color: var(--active-item-color);
}

.itemSelector .itemID:hover {
    background-color: var(--item-hover-bg-color);
}

/* Media Queries */
@media (max-width: 600px) {
    .paginatedList {
        width: 50%;
        border: none;
    }

    .pagination button {
        font-size: 12px; /* Smaller font size for smaller screens */
        padding: 8px 12px; /* Adjust padding if needed */
        display: none; /* Hide pagination buttons on small screens */
    }

    .itemSelector {
        display: block; /* Show the dropdown on small screens */
        background-color: var(--tertiary-color);
        width: 100%;
        margin: 10px 0;
    }

    .itemSelector select {
        width: 100%;
        padding: 10px;
        font-size: 12px; /* Smaller font size for smaller screens */
    }
}

@media (max-width: 400px) {
    .pagination button {
        font-size: 10px; /* Even smaller font size for very small screens */
        padding: 6px 10px; /* Adjust padding if needed */
        display: none; /* Hide pagination buttons on very small screens */
    }

    .itemSelector select {
        font-size: 10px; /* Even smaller font size for very small screens */
    }
}
